
ul{
    list-style: none;
    li{
        display: inline-block;
       
    }
    
}


ion-button {
        &:host{
            --background: transparent !important;
        }
        
        /* top: 400px;
        left: 1000px; */
        width: 240px;
        height: 170px;
        /* UI Properties */
        --background: #F6F7FB;
        // background: #FFFFFF 0% 0% no-repeat padding-box;
        /* box-shadow: 0px 3px 15px #00000029; */
        /* border-radius: 10px; */
        /* opacity: 1; */
        font: normal normal 600 22px/57px Poppins;
        letter-spacing: 0px;
        color:#1351AB;;
        opacity: 1;
        font-size: 22px;
        margin: 13px;
       
}


span {
    font-size: 35px;
}
ion-content {
    align-items: center;
    text-align: center;
}
a{
    float: right;
    border-radius: 20%;
    background-color: #bbc0c7;
}
a:hover{
    background-color: #3d69a7;
    color: blue;
}
