<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-label>Test</ion-label>
  </ion-card>
             <ul>
                    <li>
                      <a href="#"  slot="end">
                        <ion-icon name='log-out'></ion-icon>
                        LogOut
                      </a>
                    </li>
                    <br>
                    <li *ngFor="let person of people">
                          <ion-button type="button"  class="btn-card"><b>{{ person.name }}</b></ion-button>
                    </li>
              </ul>
  </ion-content>