<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  
    
      <ion-card class="card">
        <ion-label class="already">Register, if you don't have account</ion-label>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <!-- <span class="divider line one-line">or</span> -->
        <ion-label class="already">or If you have account please login?</ion-label>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-card>
    
</ion-content>